body,
html {
  background: linear-gradient(
    90deg,
    rgba(10, 9, 25, 1) 0%,
    rgba(98, 19, 172, 1) 100%
  );
  height: 100%;
  width: 100%;
}

header {
  background-color: blue;
}

/* section 1 */

.secao-um {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.container-texto {
  width: 60%;
}

.container-img {
  width: 40%;
}

.nome {
  font-weight: 700;
  font-size: 70px;
}

/* botoes */

.botoes {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  gap: 30px;
}

.botao {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(
    90deg,
    rgba(98, 19, 172, 1) 100%,
    rgba(10, 9, 25, 1) 0%
  );
}

.git-hub-img {
  height: 30px;
}

/* secao 2 */

.secao-dois {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  border-top: 1px solid rgb(67, 71, 146);
  height: 500px;
  border-radius: 10px;
}

.sobre-mim-titulo {
  font-size: 50px;
}
.sobre-mim {
  font-size: 22px;
}

.container-texto-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 60%;
}

.img-about {
  height: 500px;
  width: 100%;
}

/* seca 3 */

.secao-tres {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 80px;
  border-top: 1px;
  height: 700px;
  border-top: 1px solid rgb(67, 71, 146);
  border-radius: 10px;
}

.titulo-habilidades {
  margin-top: 90px;
}

.container-habilidades {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  height: 60%;
}

.card-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  border-bottom: 3px solid #5f1f93;
}

/* secao-quatro */

.secao-quatro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 80px;
  border-top: 1px;
  height: 700px;
  border-top: 1px solid rgb(67, 71, 146);
  border-radius: 10px;
}

.container-projetos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  height: 60%;
}
.card-projeto {
  display: flex;
  height: 350px;
  width: 100%;
  background-color: blue;
  border-radius: 10px;
  padding: 20px;
}

.container-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: f;
  height: 100%;
  width: 40%;
}

.img-preview {
  height: 80%;
  width: 100%;
}

.projeto-preview {
  height: 100%;
}

.links-projeto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20%;
  width: 100%;
  gap: 10px;
}

.botao-projeto {
  background: linear-gradient(
    90deg,
    rgba(98, 19, 172, 1) 100%,
    rgba(10, 9, 25, 1) 0%
  );
}

.container-informacoes-projeto {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 60%;

}

.descricao-projeto{
  overflow: auto;
}


